#dia {
  position: fixed;
  top: 20%;
  left: 33%;
  z-index: 1;
}

#dice {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 40%;
  left: 43%;
  z-index: 2;
}

#dice > div {
  float: left;
}

#dice > div > img {
  width: 60px;
  height: 60px;
  border-radius: 20%;
  box-shadow: 5px 5px 2px;
}

#dice1 {
  margin-top: 20%;
}

#dice2 {
  margin-left: 5%;
}

#dice3 {
  margin-top: 25%;
  margin-left: 2%;
}

#upside {
  position: fixed;
  top: 20%;
  left: 33%;
  z-index: 3;
  width: 500px;
  height: 500px;
}

#upside > img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

#btn {
  position: fixed;
  top: 85%;
  left: 40%;
  z-index: 4;
}

#btn > button {
  width: 100px;
  height: 100%;
}

.up {
  animation: animate1 2s;
  animation-fill-mode: forwards;
}

.down {
  animation: animate2 2s;
  animation-fill-mode: forwards;
}

@keyframes animate1 {
  0% {
    top: 20%;
  }
  100% {
    top: -20%;
  }
}

@keyframes animate2 {
  0% {
    top: -20%;
  }
  100% {
    top: 20%;
  }
}
